<form class="donut-form" #form="ngForm">
    <label>
        <span>Name</span>
        <input type="text" name="name" class="input" minlength="5" required ngModel #name="ngModel" />
        <ng-container *ngIf="name.invalid && name.touched">
            <div class="donut-form-error" *ngIf="name.errors?.['minlength']">
                Minimum length of a name id 5!
            </div>
            <div class="donut-form-error" *ngIf="name.errors?.['required']">
                Name is required
            </div>
        </ng-container>
    </label>
    <label>
        <p>Icon</p>
        <select name="icon" class="input select-input" required ngModel>
            <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
        </select>
    </label>
    <label>
        <span>Price</span>
        <input type="text" name="price" class="input" ngModel />
    </label>
    <div class="donut-form-radios">
        <p class="donut-form-radios-label">Promo:</p>
        <label>
            <input type="radio" name="promo" [value]="undefined" required ngModel>
            <span>None</span>
        </label>
        <label>
            <input type="radio" name="promo" value="new" required ngModel>
            <span>New</span>
        </label>
        <label>
            <input type="radio" name="promo" value="limited" required ngModel>
            <span>Limited</span>
        </label>
    </div>
    <label>
        <span>Description</span>
        <textarea name="description" class="input" required ngModel></textarea>
    </label>
</form>