<a class="donut-card" [routerLink]="donut.id">
    <div class="donut-card-icon-div">
        <img src="/assets/img/{{ donut.icon }}.png" [alt]="donut.name" class="donut-card-icon">

    </div>
    <div>
        <p class="donut-card-name">
            {{ donut.name }}
            <ng-container [ngSwitch]="donut.promo">
                <span *ngSwitchCase="'new'" class="donut-card-label">NEW</span>
                <span *ngSwitchCase="'limited'" class="donut-card-label">LIMITED</span>
            </ng-container>
        </p>
        <p class="donut-card-price">
            {{ donut.price / 100 | currency: 'USD':'symbol' }}
        </p>
    </div>
</a>