body {
  background: #e11383;
  font-family: "Segoe UI";
  color: #f5821f;
  font-weight: bold;
}
p {
  margin: 0;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #f5821f;
  color: white;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.btn:disabled {
  cursor: no-drop;
}
