.donut-card {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 15px;
  transition: transform 0.2s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.donut-card :hover {
  transform: translateY(-3px);
}

.donut-card-name {
  font-size: 16px;
  color: #f5821f;
}

.donut-card-price {
  font-size: 14px;
  color: #e11383;
}

.donut-card-icon {
  width: 60px;
  margin-right: 10px;
}
